.advantages {
  width: 320px;
  /*width: 280px; ,padding не задаём*/
  margin: 0 auto;
  padding: 0 20px;
  padding-top: 19px;
  padding-bottom: 20px;

  @media (min-width: @tablet-width) {
    width: 708px;
    padding: 0;
    border-bottom: 1px solid @gray-ights;
  }

  @media (min-width: @desktop-width) {
    width: 1440px;
    padding: 0 110px;
    padding-top: 42px;
    padding-bottom: 0;
    border: none;
  }
}

.advantages__title {
  margin: 0;
  font-family: @alternate-font;
  font-size: @font-size-xxl;
  font-weight: 400;
  line-height: 1.66em;

  @media (min-width: @tablet-width) {
    margin-bottom: 50px;
    font-size: @font-size-xxxl;
    line-height: 1em;
  }
}

.advantages__list {
  .no-list();
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  padding-left: 80px;
  padding-top: 30px;
  counter-reset: number;

  @media (min-width: @tablet-width) {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    padding-left: 0;
    padding-right: 80px;
    padding-top: 31px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-right: 0;
  }
}


.advantages__item {
  position: relative;
  margin-bottom: 15px;
  font-size: @font-size-sm;
  line-height: 1.28em;

  &::before {
    content: "";
    position: absolute;
    left: -80px;
    top: 0;
    width: 60px;
    height: 60px;
    z-index: 0;
    background-color: @color-main;
    background-position: center;
    background-size: 50px;
    background-repeat: no-repeat;
  }

  @media (min-width: @tablet-width) {
    width: 245px;
    padding-top: 30px;
    padding-bottom: 60px;
    margin-bottom: 37px;
    font-size: @font-size;
    line-height: 1.5em;

    &::before {
      left: 0;
      top: -50px;
    }

    /*
    &::after {
      content: "1";
      position: absolute;
      left: 115px;
      top: 0;
      z-index: -1;
      font-size: 200px;
      font-family: "oswald", "ArialMT", sans-serif;
      color: @gray-very-lights;
    }
     */
    &::after {
      counter-increment: number;
      content: counter(number) "";

      position: absolute;
      top: 0;
      left: 115px;
      z-index: -1;

      font-family: @alternate-font;
      color: @gray-very-lights;
      font-size: 200px;
    }

    /*
    &:nth-child(2)::after {
      content: "2";
    }

    &:nth-child(3)::after {
      content: "3";
    }

    &:last-child::after {
      content: "4";
    }
 */
  }

  @media (min-width: @desktop-width) {
    width: 245px;
  }
}

.advantages__item--benefit::before {
  content: "";
  position: absolute;
  top: 0;
  left: -80px;
  width: 60px;
  height: 60px;
  background-image: url("../img/decors/icon-leaf.svg");
  background-repeat: no-repeat;

  /* background-image: url("../img/decors/advantage-leaf.png");*/
  @media (min-width: @tablet-width) {
    top: -60px;
    left: 0;
  }
}

.advantages__item--fast::before {
  content: "";
  position: absolute;
  top: 0;
  left: -80px;
  width: 60px;
  height: 60px;
  background-image: url("../img/decors/icon-powder.svg");
  background-repeat: no-repeat;

  @media (min-width: @tablet-width) {
    top: -60px;
    left: 0;
  }
}

.advantages__item--meal::before {
  content: "";
  position: absolute;
  top: 0;
  left: -80px;
  width: 60px;
  height: 60px;
  background-image: url("../img/decors/icon-meal.svg");
  background-repeat: no-repeat;

  @media (min-width: @tablet-width) {
    top: -60px;
    left: 0;
  }
}

.advantages__item--time::before {
  content: "";
  position: absolute;
  top: 0;
  left: -80px;
  width: 60px;
  height: 60px;
  background-image: url("../img/decors/icon-clock.svg");
  background-repeat: no-repeat;

  @media (min-width: @tablet-width) {
    top: -60px;
    left: 0;
  }
}
