.advantages {
  width: 320px;
  /*width: 280px; ,padding не задаём*/
  margin: 0 auto;
  padding: 0 20px;
  padding-top: 19px;
  padding-bottom: 20px;

  @media (min-width: @tablet-width) {
    width: 708px;
    padding: 0;
    /*padding: 0 30px;
        padding-top: 14px;
        padding-bottom: 2px; */
    border-bottom: 1px solid @gray-ights;
  }

  @media (min-width: @desktop-width) {
    width: 1440px;
    padding: 0 110px;
    padding-top: 42px;
    padding-bottom: 0;
    border: none;
  }
}

.advantages__title {
  margin: 0;
  font-family: @alternate-font;
  font-size: @font-size-xxl;
  font-weight: 400;
  line-height: 1.66em;

  @media (min-width: @tablet-width) {
    margin-bottom: 8px;
    font-size: @font-size-xxxl;
    line-height: 1em;
  }
}

.advantages__list {
  .no-list();
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  padding-left: 80px;
  padding-top: 30px;

  @media (min-width: @tablet-width) {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    padding-left: 0;
    padding-right: 80px;
    padding-top: 31px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-right: 0;
  }
}

.advantages__item {
  position: relative;
  margin-bottom: 15px;
  font-size: @font-size-sm;
  line-height: 1.28em;

  &::before {
    content: "";
    position: absolute;
    left: -80px;
    top: -1px;
    width: 60px;
    height: 60px;
    background-color: @color-main;
    background-position: center;
    background-size: 50px;
    background-repeat: no-repeat;
  }

  @media (min-width: @tablet-width) {
    width: 245px;
    /*
        margin-bottom: 50px;
        padding-top: 145px;
        padding-bottom: 50px;
       */
    font-size: @font-size;
    line-height: 1.5em;
  }

  @media (min-width: @desktop-width) {
    width: 245px;
    /*
        margin-bottom: 0;
        padding-bottom: 47px;
        */
  }
}

.advantages__item--benefit::before {
  background-image: url("../img/decors/advantage-leaf.png");
}

.advantages__item--fast::before {
  background-image: url("../img/decors/advantage-powder.png");
}

.advantages__item--meal::before {
  background-image: url("../img/decors/advantage-meal.png");
}

.advantages__item--time::before {
  background-image: url("../img/decors/advantage-clock.png");
}
