.card {
  padding-left: 20px;
  padding-bottom: 24px;
  border-left: 1px solid @gray-ultra-lights;
  border-top: 1px solid @gray-ultra-lights;
  border-right: 1px solid @gray-ultra-lights;
}

.card__wrapper {}

.card__image-link {}

.card__content {
  padding-top: 20px;
}

.card__title-link {
  text-decoration: none;
}

.card__title {
  width: 80px;
  margin-top: 0;
  margin-bottom: 15px;
  font-family: @alternate-font;
  color: @gray-darkest;
  font-size: @font-size;
  font-weight: 400;
  line-height: 1.25em;
  text-transform: uppercase;
}

.card__options {
  border-collapse: collapse;
  padding-right: 17px;
}

.card__options tr {}

.card__options-title,
.card__options-value {
  font-size: @font-size-xs;
  line-height: 1.1em;
}

.card__button {
  margin-right: 20px;
}
