.categories {
  padding: 0 20px;
}

.categories__list {}

.categories__item {
  margin-top: 22px;
  padding: 0 20px;
  padding-top: 30px;
  padding-bottom: 17px;
  background-color: @gray-lighten;
}

.categories__item-title {
  margin-left: 70px;
  margin-top: 0;
  margin-bottom: 30px;
  font-family: @alternate-font;
  color: @gray-darkest;
  font-size: @font-size-xl;
  font-weight: 400;
  line-height: 1.54em;
  text-transform: uppercase;
  background-color: @gray-lighten;
}


.categories__item-content {
  margin-top: 0;
  padding-bottom: 21px;
  font-size: @font-size-sm;
  line-height: 1.28em;
  font-weight: 400;
  background-color: @gray-lighten;
  border-bottom: 1px solid @gray;
}

.categories__item-button {
  margin-top: 6px;
  font-family: @alternate-font;
  color: @gray-darkest;
  font-size: @font-size;
  line-height: 1em;
  text-transform: uppercase;
  text-decoration: none;
  background-color: @gray-lighten;
}
