.field-action {
  margin-top: 22px;
  padding: 0 20px;
  padding-bottom: 31px;

  @media (min-width: @desktop-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    grid-column-start: 1;
    grid-column-end: 5;
    outline: 1px solid #000000;
  }
}

.field-action__hint {
  margin-top: 21px;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  text-align: center;

  @media (min-width: @tablet-width) {
    margin-top: 15px;
    font-size: 16px;
    line-height: 16px;
  }

  @media (min-width: @desktop-width) {
    width: 570px;
    font-size: 16px;
    line-height: 16px;
    text-align: left;
  }
}

/*кнопка Отправить заявку*/
.field-action__button {
  display: block;
  width: 280px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: @desktop-width) {
    width: 570px;
    font-size: 20px;
    line-height: 20px;
  }

  /*состояния по наведению*/
  &:hover {
    background-color: @color-background-hover;
  }

  &:active,
  &:focus {
    color: @color-background-focus;
  }
}
