.page-footer {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: @gray-lighten;
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-row-gap: 20px;
  width: 280px;
  margin: 0 auto;
  /*padding: 0 20px;*/
  padding-top: 40px;
  padding-bottom: 22px;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 708px;
    padding-top: 50px;
    padding-bottom: 30px;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 1220px;
    padding-top: 50px;
    padding-bottom: 30px;
  }
}

/*Логотип - текст Cat Energy*/
.page-footer__logo {
  text-align: center;
  vertical-align: middle;

  &:hover {
    opacity: 0.8;
  }

  &:active,
  &:focus {
    opacity: 0.6;
  }
}

.page-footer__social-list {
  .no-list();

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #d9d9d9;

  @media (min-width: @tablet-width) {
    width: 324px;
    border: none;
  }
}

.page-footer__copyright {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin: 0;
}

.page-footer__copyright-link {
  display: flex;
  align-items: center;
  column-gap: 28px;
  text-align: right;
  text-decoration: none;
}

/*Надпись HTML-academy*/
.page-footer__copyright-title {
  color: @gray-darker;
  font-size: @font-size;
  line-height: 20px;

  &:focus,
  &:active {
    fill: @color-main;
    opacity: 0.3;
  }
}

/*Логотип HTML-academy*/
.page-footer__copyright-image {
  width: 27px;
  height: 34px;
  margin-left: auto;
  fill: @gray-ultra-dark;

  @media (min-width: @tablet-width) {
    margin-left: 22px;
  }

  &:hover {
    fill: @color-main;
  }

  &:focus,
  &:active {
    fill: @color-main;
    opacity: 0.3;
  }
}
