.program-select__wrapper {
    width: 320px;
    margin: 0 auto;
    padding-top: 15px;
    background-color: #ffffff;

    @media(min-width:@desktop-width) {
        width: 1220px;
        outline: 2px solid red;
    }
}

.program-select__title {
    margin-top: 0;
    margin-bottom: 26px;
    padding-left: 20px;
    font-family: @alternate-font;
    color: @gray-darkest;
    font-size: @font-size-xxl;
    font-weight: 400;
    line-height: 1.67em;
}

.program-select__hint {
    width: 280px;
    margin-top: 0;
    margin-bottom: 41px;
    padding-left: 20px;
    font-family: @alternate-font;
    color: @gray-darkest;
    font-weight: 1.28em;
    text-transform: uppercase;
}
