.promo {
  background-image: url("../img/index-background-mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.promo__wrapper {
  width: 100%;
  margin: 0 auto;
  background-image: url("../img/index-can-mobile.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 50%;

  @media (min-width: @tablet-width) {
    width: 100%;
  }

  @media (min-width: @desktop-width) {
    with: 50%;
  }
}

.promo__title {
  margin-top: 0;
  margin-bottom: 25px;
  font-family: @alternate-font;
  color: black;
  font-size: @font-size-xxl;
  line-height: 1em;
  text-align: center;
  font-weight: 400;
}

.promo__content {
  margin-top: 0;
  margin-bottom: 29px;
  font-family: @alternate-font;
  color: black;
  font-size: @font-size-sm;
  line-height: 1em;
  text-transform: uppercase;
  text-align: center;
}

.promo__cat-energy {
  margin-top: 0;
  margin-bottom: 0;
}

.promo__button {
  display: block;
  width: 244px;
  height: 54px;
  color: @basic-white;
  font-family: @alternate-font;
  font-size: @font-size-md;
  line-height: 2.86em;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  background-color: @color-main;
  border: none;
}
