.promo {}

.promo__wrapper {
  width: @mobile-width;
  margin: 0 auto;
  padding: 0 20px;
  padding-top: 27px;
}

.promo__title {
  margin-top: 0;
  margin-bottom: 25px;
  font-family: @alternate-font;
  color: #ffffff;
  font-size: @font-size-xxl;
  line-height: 1em;
  text-align: center;
  font-weight: 400;
}

.promo__content {
  margin-top: 0;
  margin-bottom: 29px;
  font-family: @alternate-font;
  color: #ffffff;
  font-size: @font-size-sm;
  line-height: 1em;
  text-transform: uppercase;
  text-align: center;
}

.promo__image {
  margin-top: 0;
  margin-bottom: 0;
}

.promo__image img {}

.promo__button {
  width: 280px;
  font-family: @alternate-font;
  color: #ffffff;
  font-size: @font-size-sm;
  line-height: 2.857em;
  text-transform: uppercase;
  text-decoration: none;
  background-color: @color-main;
}
