.promo {
  background-image: url("../img/decors/index-background-mobile.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-y: 0;

  @media (min-width: @tablet-width) {
    background: none;
  }

  @media (min-width: @desktop-width) {
    background-image: url("../img/decors/index-background-desktop.png");
    background-repeat: no-repeat;
    background-size: 50%;
    background-position-y: 0;
    background-position-x: right;
    margin-top: -190px;
    padding-top: 230px;
    margin-left: auto;
    margin-right: auto;
  }

}

.promo__wrapper {
  width: 100%;
  background-image: url("../img/decors/index-can-mobile.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 50% 72%;

  @media (min-width: @tablet-width) {
    width: 100%;
    background-image: url("../img/decors/index-can-mobile.png");
  }

  @media (min-width: @desktop-width) {
    width: 1300px;
    background-image: url("../img/decors/index-can-desktop.png");
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: -265px;
    padding-top: 197px;
    padding-bottom: 190px;
    padding-left: 121px;
  }
}

.promo__title {
  margin-top: 0;
  margin-bottom: 25px;
  font-family: @alternate-font;
  color: black;
  font-size: @font-size-xxl;
  line-height: 1em;
  text-align: center;
  font-weight: 400;

  @media (min-width: @desktop-width) {
    width: 300px;
    margin-top: 100px;
    text-align: left;
    /* margin-bottom: 52px; */
  }
}

.promo__content {
  margin-top: 0;
  margin-bottom: 300px;
  font-family: @alternate-font;
  color: black;
  font-size: @font-size-sm;
  line-height: 1em;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: @desktop-width) {
    margin-bottom: 53px;
    text-align: left;
  }
}

 /*кнопка Подобрать программу*/
.promo__button {
  display: block;
  margin: 0 auto;
  /*должна центрироваться*/
  width: 244px;
  height: 54px;
  color: @basic-white;
  font-family: @alternate-font;
  font-size: @font-size-md;
  line-height: 2.86em;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  background-color: @color-main;
  border: none;
     /*состояния при наведении*/
  &:hover {
    background-color: @color-background-hover;
  }
  &:active,
  &:focus {
    color: @color-background-focus;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    /*на десктопе центрироваться не должна*/
  }
}
