.social {
  .no-list();
  padding: 0;
  justify-content: center;
  gap: 28px;
}

.social__vk-image {
  width: 22px;
  height: 12px;
}

.social__insta-image {
  width: 16px;
  height: 16px;
}

.social__fb-image {
  width: 10px;
  height: 19px;
}
